[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
click = "*"
itsdangerous = "*"
psycopg2 = "*"
six = "*"
Flask = "*"
Flask-Cors = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyJWT = "*"
Werkzeug = "*"

[requires]
python_version = "3.8"
